<div class="row">
  <div class="large-3 columns">
    <div>
      <input type="search" placeholder="search">
    </div>
  </div>
  <div class="large-9 columns">
    <div class="section campus-connects">
      <ul class="small-block-grid-2 large-block-grid-5">
        <% @users.each do |user| %>
          <li>
            <%= avatar_profile_link(user) %>
          </li>
        <% end %>
      </ul>
    </div>

    <%= will_paginate @users %>
  </div>
</div>
