<div class="row">
  <div class="large-12 columns section">
    <div class="row">
      <div class="large-12 columns">
        Links | Stats | Test
      </div>
      <div class="large-2 columns">
        <%= avatar_profile_link @comment.user, {}, class: '' %>
      </div>

      <div class="large-10 columns">
        <h4 class="subheader"><%= @comment.title %></h4>
        <hr>
        <p><%= @comment.comment %></p>
      </div>
    </div>
  </div>

  <div class="large-12 columns">
    <div>
    </div>
      user | Sub Comment
    <div>
    </div>
  </div>
</div>
