<div class="row">
  <div>
    <h4 class="subheader">Ideaboards</h4>
    <% @ideaboards.each do |ideaboard| %>
      <%= render partial: 'ideaboards/preview' %>
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  <div class="section">
    <h4 class="subheader">People</h4>

  </div>
</div>
