<div class="row">
  <div>
    <h4 class="subheader">Ideaboards</h4>
    <%= render partial: 'ideaboards/preview' %>
  </div>
</div>

<hr>

<div class="row">
  <div class="section">
    <h4 class="subheader">People</h4>

  </div>
</div>
