<div class="row">
  <div class="large-6 columns large-centered">
    <h3>Editing album</h3>

    <%= render 'form' %>

    <%= link_to 'Show', @album %> |
    <%= link_to 'Back', albums_path %>
  </div>
</div>
