@import "variables";

.tag {
  display: inline-block;
  margin: 5px 5px 5px 0;
  padding: 0 5px;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  background: $tagColor;
  border-radius: 5px;

  //TODO: balance grid

  body & > a {
    color: #fff;
  }
}
