<div class="large-3 columns">
  <div class="idea-navigation section">
    <div><a> About </a></div>
    <div><a> Activity </a></div>
    <div><a> Discussion </a></div>
    <div><a> Stats </a></div>
    <div><a>Edit</a></div>
    <div><a>Finish Editing</a></div>
    <div><%= link_to 'Albums', albums_path('ideaboards', @ideaboard) %></div>
    <div><%= link_to "#{@ideaboard.likes.count} Likes", likes_path('ideaboards', @ideaboard) %></div>

    <div class="application" ng-hide="canEdit">
      <button class="button small">Apply</button>
      <span>
        Application Sent
        <button class="button small">Undo</button>
      </span>
    </div>
  </div>
</div>
