<div class="row">
  <%= render partial: 'side_menu' %>

  <div class="large-9 larege-offset-3 columns cover-page">
    <div class="timeline">
      <div class="section">
        <img src="../images/sample.jpg">
        <div class="activity-description"> Working hard! Loving the progress! Keep up the good work</div>
        <ul class="link-list">
          <li>
            <a>tag</a>
          </li>
        </ul>
      </div>

      <div class="update">
        <h4> Added Nathan Kluth to the project </h4>
      </div>

      <div class="section">
        <img src="../images/studentgroup.jpg">
        <div class="pin-description"> Fun evening out with the team </div>
        <ul class="link-list">
          <li>
            <a>tag</a>
          </li>
        </ul>
      </div>

      <div class="update">
        <h4> Monte Eady Created this project </h4>
      </div>
    </div>
  </div>
</div>
