<div class="row">
  <%= render partial: 'side_menu' %>

  <div class="large-9 larege-offset-3 columns cover-page">
    <div>
      <h5 class="subheader">Discuss <%= @ideaboard.title %> </h4>
      <div class="feed">
        <form>
          <div class="row collapse">
            <div class="small-12 columns">
              <input type="text" placeholder="Post something!" />
            </div>
          </div>
        </form>
        <ul class="link-list social">
          <li>
            <div></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
