<div class="row">
  <% if signed_in? %>
    <div class="animation">
      <%= render 'form' %>
    </div>
  <% end %>

  <%= render partial: 'preview' %>

  <div class="row">
    <%= will_paginate @ideaboards %>
  </div>
</div>
